*, ::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

html{
  font-size: 0.69444444vw; // 10 / (1440 / 100)
}

body{
  font-family: 'Inter',sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  background-color: $background-body;

  min-width: 380px;
}

.container{
  width: 144rem;
  margin: 0 auto;
  padding: 0 4rem;
}

@media(max-width: 380px){
  html{
    font-size: 10px;
  }
}

@media(min-width: 90em){
  html{
    font-size: 10px;
  }
}






