.title{
  font-size: 6rem;
  font-weight: 600;
  line-height: 125%;
  padding-bottom: 4rem;
}

.accent{
  color: $text-accent;
  font-style: italic;
}


@media(max-width: 719px){
  .title{
    font-size: 3.2rem;
  }
}
