.enjoy{
  .container{
    position: relative;
    padding: 10rem 14rem;
  }
  .wrapper{
    width: 53rem;
    height: 44.4rem;
  }

  &_bg{
    position: absolute;
    width: calc(100% - 8rem);
    height: 64.5rem;
    top: 0;

    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    z-index: -1;

    img{
      object-fit: cover;
      border-radius: 4rem;
    }
  }

  &__title{
    margin: 0;
    font-size: 7.2rem;
    font-weight: 600;
    color: $text-light;
    line-height: 105%;
    span{
      color: $text-accent;
      font-style: italic;
    }
  }

  &__info{
    padding: 4rem 0;
    color: $text-light;
    line-height: 150%;
  }
}

@media(max-width: 719px){
  //380

  .enjoy{

    .container{
      position: relative;
      padding: 6rem 3.2rem;
    }

    &_bg{
      width: calc(100% - 1.6rem);
    }

    .wrapper{
      width: 100%;
    }

    &__title{
      font-size: 4.2rem;
      line-height: 115%;
    }
  }


}

@media(min-width: 720px) and (max-width: 1139px){
  .enjoy{

    .container{
      padding: 10rem 10rem;
    }

  }
}

@media(min-width: 1140px){


}
