.btn{
  &, &:link, &:visited{
    position: relative;
    overflow:hidden;
    min-width: 20rem;
    display: inline-block;
    border-radius: 10rem;
    text-align: center;
    font-weight: 600;
    background-color: $background-body;
    color: $text-dark;
    transition: padding-right 200ms ease;
  }

  padding: 2rem;

  &:active{

  }

  &__refresh{
    border: 1px solid $border-dark;
    border-radius: 10rem;
    padding: 0;
    width: 6rem;
    height: 6rem;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img{
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__icon-cofee {
    position: absolute;
    display: inline-block;
    margin-left: .8rem;
    width: 2rem;
    height: 2rem;
    right: 6rem;
  }

  &__app{
    color: $text-dark;
    display: inline-flex;
    align-items: center;

    border: 1px solid $border-dark;
    border-radius: 10rem;
    padding: 1.2rem 2rem;

    transition: background-color 400ms ease, color 400ms ease;

    svg{
      width: 3.6rem;
      height: 3.6rem;
      fill: $text-dark;
      transition: fill 400ms ease;
    }

    &-text{
      font-size: 1rem;
      font-weight: 600;
      line-height: 140%;
      padding-bottom: .2rem;
    }

    &-name{
      font-weight: 600;
      line-height: 150%;
    }

    &-wrap{
      display: flex;
      flex-direction: column;
      margin-left: .8rem;
      min-width: 11.6rem;
    }

  }

  &__menu{
    padding: .8rem 1.6rem .8rem .8rem;
    color: $text-dark;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    border: 1px solid $border-light;
    border-radius: 10rem;
    cursor: pointer;

    &-ico{
      width: 3rem;
      height: 3rem;
      margin-right: .8rem;
      background-color: $border-light;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      img{
        width: 1.6rem;
        height: 2.4rem;
      }
    }

    &.is-active{
      background-color: $background-container;
      color: $text-light;
      .btn__menu-ico{
        background-color: $background-body;
      }
      cursor: default;
    }

  }
}

@media(max-width: 719px){
  .btn{
    padding-right: 4.5rem;
    &__app{
      &:not(:last-child){
        margin-bottom: 2rem;
      }
    }
    &__icon-cofee{
      right: 6.4rem;
    }
  }
}


@media(min-width: 720px) and (max-width: 1139px){

  .btn{
    padding-right: 4.5rem;
    &__icon-cofee{
      right: 6.4rem;
    }
  }
}




@media(hover: hover) {
  .btn{
    &__icon-cofee{
      transform: scale(0);
      transition: transform 400ms ease;
    }
    padding: 2rem;
    &:hover{
      padding-right: 4rem;
      .btn__icon-cofee{
        transform: scale(1);
      }
    }

    &__app{
      &:hover{
        background-color: $background-container;
        color: $text-light;
        svg{
          fill: $text-light;
        }
      }


    }

    &__menu{
      transition: background-color .4s ease-in, color .4s ease-in;
      .btn__menu-ico{
        transition: background-color .6s ease-in;
      }
      &:hover{
        background-color: $background-container;
        color: $text-light;
        .btn__menu-ico{
          background-color: $background-body;
        }
      }
    }

    &__refresh{
      cursor: pointer;
      transition: background-color .6s ease-in;
      &:hover{
        background-color: $background-container;
      }
    }

  }



}
