.gallery{
  display: grid;
  grid-gap: 4rem;
  &__item{
    overflow: hidden;
    border-radius: 2rem;
    img{
      object-fit: cover;
      transform: scale(1.1);
    }
  }
}



@media(max-width: 1139px){

  .gallery{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 59rem);
    &__item{
      &--1 {
        grid-column-start: 1;
        grid-row-start: 1;
      }
      &--2 {
        grid-column-start: 1;
        grid-row-start: 2;
      }
      &--3 {
        grid-column-start: 1;
        grid-row-start: 2;
      }
      &--4 {
        grid-column-start: 1;
        grid-row-start: 2;
      }
    }
  }

}


@media(min-width: 1140px){
  .gallery{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 43rem 12rem 43rem;
    &__item{

      &--1 {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      &--2 {
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end: 4;
      }
      &--3 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      &--4 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 4;
      }
    }
  }

}


@media(hover: hover) {
  .gallery{
    &__item{
      img{
        transition: all .5s ease-out;
        &:hover{
          transform: scale(1);
        }
      }
    }
  }
}


