block variables
    -
        let menu = {
            '#home': 'Favorite coffee',
            '#about': 'About',
            '#mobile-app': 'Mobile app',
            '#contacts': 'Contacts',
        }
