section.section.about
    .container
        h2.title Resource is
            span.accent &nbsp;the perfect and cozy place
            |&nbsp;where you can enjoy a variety of coffee beverages, to relax, catch up with friends, or get some work done.
        .gallery
            figure.gallery__item.gallery__item--1
                +main-img('section/about/about-1.jpg','about-1')
            figure.gallery__item.gallery__item--2
                +main-img('section/about/about-2.jpg','about-2')
            figure.gallery__item.gallery__item--3
                +main-img('section/about/about-3.jpg','about-3')
            figure.gallery__item.gallery__item--4
                +main-img('section/about/about-4.jpg','about-4')

