section.section.enjoy
    .container
        .bg.enjoy_bg
            img(src=require('../../assets/img/section/enjoy/bg.jpg'), alt="icon coffee cup")
        .wrapper
            h1.enjoy__title
                span Enjoy
                |&nbsp;premium coffee at our charming cafe
            p.enjoy__info With its inviting atmosphere and delicious coffee options, the Coffee House Resource is a popular destination for coffee lovers and those seeking a warm and inviting space to enjoy their favorite beverage.
            a(href="./menu" class="btn") Menu
                .btn__icon-cofee
                    img(src=require('../../assets/img/header/coffee-cup.svg'), alt="icon coffee cup")

