.footer{
  padding: 10rem;
  background-color: $background-container;

  .title{
    color: $text-light;
  }

  &__wrapper{
    display: flex;
    gap: 10rem;
    flex-grow: 1;
  }

  &__info{
    flex-grow: 1;
    flex-basis: 0;
  }

  &__contacts{
    flex-grow: 1;
    flex-basis: 0;
  }
}
