.header{
  padding: 2rem 0;
  .container{
    height:6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo{
    width: 10rem;
    height: 6rem;
    flex-shrink: 0;
  }
}

.menu{

  &__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__item{
    list-style: none;
  }

  &__link{
    color: $text-dark;
    font-weight: 600;
  }


  &__coffee-menu{
    .menu__link, .menu__link-none{
      display: flex;
    }

    .menu__link-none{
      font-weight: 600;
      position: relative;
      &:after {
        position: absolute;
        background-color: $text-dark;
        display: block;
        content: "";
        height: 2px;
        bottom: -.4rem;
        width: 100%;
      }
    }


  }

}


@media(max-width: 719px) {
  //380

}

//@media(max-width: 1139px){
@media(max-width: 768px){
  .header{
    &__logo{
      z-index: 100;
    }
  }
  .menu{
    &__icon {
      transition-duration: 0.5s;
      position: absolute;
      height: 0;
      width: 4.4rem;
      top: 50%;

      &:before,&:after{
        transition-duration: 0.5s;
        position: absolute;
        width: 1.6rem;
        height: 1px;
        background-color: $text-dark;
        content: "";
        left: 50%;
        transform: translate(-50%, 0);
      }

      &:before{top: -.4rem;}
      &:after{top: .4rem;}
    }

    &__mobile{
      width: 4.4rem;
      height: 4.4rem;
      position: relative;
      transition-duration: 0.5s;
      border-radius: 50%;
      border: 1px solid $border-dark;
      z-index: 100;
    }

    &__wrapper{
      margin-top: 0;
      position: fixed;
      width: 100%;
      min-height: 100vh;
      padding: 16rem 4rem 6rem;
      background-color: $background-body;
      right: -100%;
      transition: right 0.3s ease 0s;
      overflow: auto;
      z-index: 20;
      //top: 10rem;
      top: 0;
    }

    &__list{
      flex-direction: column;
      padding-bottom: 10rem;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 6rem;
      }
    }

    &__link{
      color: $text-dark;
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 125%;

      &-none{
        color: $text-dark;
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 125%;
      }
    }

    &__coffee-menu{
      display: flex;
      justify-content: center;

      .menu__link{
        display: flex;
      }

      &-icon{
        margin-left: 1.6rem;
        width: 4rem;
        height: 4rem;
      }
    }

    &.open {
      .menu__icon {
        transition-duration: 0.5s;
        &:before{
          left: calc(50%  + .25rem);
          transform: rotateZ(135deg) scaleX(1.25) translate(.8rem, .5rem);
        }
        &:after{
          left: calc(50%  + .25rem);
          transform: rotateZ(-135deg) scaleX(1.25) translate(.8rem, -.5rem);
        }
      }

      .menu__wrapper{
        right: 0;
      }
    }
  }
}

@media(min-width: 720px) and (max-width: 1139px){
//768


}



//@media(min-width: 1140px){
@media(min-width: 769px){
  .menu{
    width: 100%;

    &__wrapper{
      display: flex;
      justify-content: center;
    }

    &__item{
      letter-spacing: 0;
      &:not(:last-child){
        margin-right:4rem;
      }
    }

    &__list{
      justify-content: center;
      flex: 1;
    }

    &__coffee-menu{
      &-icon{
        margin-left: .8rem;
        width: 2rem;
        height: 2rem;
      }
    }

    &__link{
      line-height: 150%;
    }

  }

}


@media(hover: hover) {
  .menu{
    &__mobile{
      &:hover {
        cursor: pointer;
      }
    }

    &__link {
      position: relative;

      &:after {
        width: 100%;
        content: '';
        position: absolute;
        background-color: #403F3D;
        height: 2px;
        bottom: -4px;
        left: 0;
        opacity: 0;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
      }

      &:hover {
        &:after {
          transform: scaleX(1);
          opacity: 1;
          transition: transform 0.5s ease-in-out, opacity 0.7s ease-in-out;
        }
      }

    }
  }
}



