extends pug/layout/main
block variables_layout
    -
        let title = 'Главная страница'
        let curPage = '/';

include pug/_mixin
block content
    main
        include pug/section/_enjoy
        include pug/section/_favourites
        include pug/section/_about
        include pug/section/_mobile-app


